<div id="manager-container">
<div class="ui segment">
    <h2 class="ui header">Current Reservations:</h2>
    {% if reservations|length == 0 %}
      <p>No reservations</p>
    {% endif %}
    <div id="reservations" class="ui cards">
      {% for reservation in reservations %}
        <div class="ui blue card">
          <div class="content">
            <a class="header"> 
              {% if reservation.user.first_name %} 
                {{reservation.user.first_name}} {{reservation.user.last_name}} 
              {% else %} 
                {{reservation.user.username}} 
              {% endif %}</a>
            <div class="sub header">{{reservation.device.name}}</div>
            <div class="meta">
            </div>
            <div class="description">
              Inventory ID:
              <select class="ui search dropdown" id="inventory_id">
                {% for key, values in free_inventories.items %}
                  {% if key == reservation.device.name %}
                    {% for inventory in values %}
                      <option value="{{inventory.id}}"> {{inventory.serial_id}}</option>
                    {%endfor%}
                  {%endif%}
                {% endfor %}
              </select>
			  <div class="ui divider"></div>
			    <div class="cancel-reservation">
			    	<div class="ui left floated basic red button">
				    <i class="fa fa-ban"></i> Cancel
				  </div>
			    </div>
			    <div class="create-rental">
		 	      <div class="ui right floated basic green button">
			        <i class="fa fa-plus-square"></i> 
			        Rent
			      </div>
		      </div>
			    <div hidden id="rental-id" value="{{reservation.id}}"></div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui segment">
    <h2 class="ui header">Current Rentals:</h2>
    {% if rentals|length == 0 %}
      <p>No rentals</p>
    {% endif %}
    <div id="rentals" class="ui cards">
      {% for rental in rentals %}
          <div class="ui blue card">
            <div class="content">
              <a class="header">
                            {% if rental.user.first_name %} 
                {{rental.user.first_name}} {{rental.user.last_name}} 
              {% else %} 
                {{rental.user.username}} 
              {% endif %}
              </a>
              <div class="meta">
              </div>
              <div class="description">
                <div class="">{{rental.inventory.device.name}}</div>
                <div class="">Inventory ID: {{rental.inventory.serial_id}}</div>
              </div>
            </div>
            <div class="extra content">
              <div class="ui slider checkbox">
                <input class="hack_finished" type="checkbox">
                <label>Hack finished</label>
              </div>
            </div>
            <div class="return-device">
              <div class="ui bottom attached button">
                <i class="fa fa-undo"></i> 
                Return
              </div>
            </div>
            <div hidden id="rental-id" value="{{rental.id}}"></div>
          </div>
      {% endfor %}
    </div>
  </div>
  </div>