{% extends "layout.html" %}
{% block content %}
<script>
$(document).ready(function(){
	$(".cancel").on("click", function() {
      $rental_id = $(this).siblings("#rental-id").attr("value");
      console.log($rental_id);
        $("#cancel-reservation-modal").modal({
          closable  : true,
          onDeny    : function(){
            return true;
          },
          onApprove : function() {
            $.ajax({
              url : "/api/cancel-reservation/", // the endpoint
              type : "GET", // http method
              data : { 
                rental_id: $rental_id
              },
              success : function(data) {
                $("#manager-container").load(document.URL + ' #manager-container');
                //location.reload();
              }, 
              error: function(data) {
                alertify.alert(data.responseText);
              }
            });
          },
        }).modal('show');
    });
    $(document).on("click", ".create-rental", function() {
      $rental_id = $(this).siblings("#rental-id").attr("value");
      $inventory_id = $(this).parentsUntil('#reservations').find('select').val();
      console.log($inventory_id);
      if($inventory_id == ''){
        console.log('empty');
        alertify.alert("Please select an Inventory ID");
      } else {
        $("#create-rental-modal").modal({
          closable  : true,
          onDeny    : function(){
            return true;
          },
          onApprove : function() {
            $.ajax({
              url : "/api/rent/", // the endpoint
              type : "GET", // http method
              data : { 
                rental_id: $rental_id,
                inventory_id: $inventory_id
              },
              success : function(data) {
                $("#manager-container").load(document.URL + ' #manager-container');
                // $("#manager-container").replaceWith(data);
              }, 
              error: function(data) {
                alertify.alert(data.responseText);
              }
            });
          },
        }).modal('show');
      }
    });
    $(document).on("click", ".return", function() {
      $rental_id = $(this).siblings("#rental-id").attr("value");
      $hack_finished = $(this).siblings('div.extra.content').children().children('.hack_finished:checked').val();
      console.log($rental_id);
      console.log("hack_finished:");
      console.log($hack_finished);
      if(typeof $hack_finished === 'undefined'){
          $hack_finished = 'no';
      }
        $("#return-modal").modal({
          closable  : true,
          onDeny    : function(){
            return true;
          },
          onApprove : function() {
            $.ajax({
              url : "/api/return/", // the endpoint
              type : "GET", // http method
              data : { 
                rental_id: $rental_id,
                hack_finished : $hack_finished
              },
              success : function(data) {
                $("#manager-container").replaceWith(data);
              }, 
              error: function(data) {
                alertify.alert(data.responseText);
              }
            });
          },
        }).modal('show');
    });
});
</script> 

<!-- {{event}} -->
{% include "partials/manager_partial.html" %}

<div id="create-rental-modal" class="ui modal small">
  <div class="ui icon header">
  <i class="archive icon"></i>
    Cancel Reservation<br/>
    <small>Do you want to create this rental?</small>
  </div>

  <div class="actions centered">
    
      <div class="ui cancel button">
        <i class="remove icon"></i>
        My bad!
      </div>
      <div class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes, please!
      </div>  
  </div>
</div>

<div id="return-modal" class="ui modal small">
  <div class="ui icon header">
  <i class="archive icon"></i>
    Cancel Reservation<br/>
    <small>Do you want to create this rental?</small>
  </div>

  <div class="actions centered">
    
      <div class="ui cancel button">
        <i class="remove icon"></i>
        My bad!
      </div>
      <div class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes, please!
      </div>  
  </div>
</div>

<div id="cancel-reservation-modal" class="ui modal small">
  <div class="ui icon header">
  <i class="archive icon"></i>
    Cancel Reservation<br/>
    <small>Do you want to cancel your resevation for {{rental.inventory.device.name}}?</small>
  </div>

  <div class="actions centered">
    
      <div class="ui cancel button">
        <i class="remove icon"></i>
        My bad!
      </div>
      <div class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes, please!
      </div>  
  </div>
</div>
{% endblock %}