Logged in As  {% load account %} {% user_display user %}
<div id="logout-modal" class="ui modal small">
  <div class="ui icon header">
  <i class="sign out icon"></i>
    Sign Out <br/>
    <small>Are you sure you want to sign out?</small>
  </div>

  <div class="actions centered">
    
      <div class="ui cancel button">
        <i class="remove icon"></i>
        No
      </div>
      <div class="ui red approve button">
        <i class="checkmark icon"></i>
        Yes
      </div>  
  </div>
</div>
<div class="ui fixed menu">
    <div class="ui container">
      <a href="/" class="header item">
      HardwareLab</a>
      {% if user.is_authenticated %}
      <div class="ui simple dropdown item right">

        <img style="margin-right: 10px;border-radius: 3px;" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />  {% user_display user %}
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Orders</a>
          <a class="item" href="#">Settings</a>
          <a id="logout" class="item" href="#">Logout</a>
            </div>
      </div>
        {% else %}
          <a class="item right" href="/accounts/login">Login</a>
        {% endif %}
        {% load account %}

      </div>
    </div>
  </div>
