
{% extends "layout.html" %}

{% block content %}
<!-- 	<div class="ui segment">
		<div class="form">
			<div class="form-group">
				<div class="label"> username: </div>
				<div class="field"> <input type="text" disabled value="{{ user.username }}"></input></div>
			</div>
			<div class="form-group">
				<div class="label">Name: </div>
				<div class="field"> <input type="text" placeholder="First Name" value="{{ user.first_name }}"> <input type="text" placeholder="First Name" value="{{ user.last_name }}"> </div>
			</div>
			<div class="form-group">
				<div class="label">email:</div>
				<div class="field"> <input type="email" value=" {{ user.email }}"></input></div>
			</div>
			<div class="form-group">
				<div class="label">phone: </div>
				<div class="field"><input type="phone" value="{{ user.phone_number }}"></input></div>
			</div>
		</div>
	</div> -->

	<form method="POST" action="">
	{{ user_settings_form }}
	</form>

{% endblock %}
