{% extends "layout.html" %}
{% block content %}
<style media="screen">
.clear { clear:both; }

</style>

<script>
$(document).ready(function(){
  //alertify.alert("Page loaded");
    $(document).on("click", "#rent-device", function() {
      console.log("clicked");
      console.log('{{user_profile.phone_number}}');
      //if('{{user_profile.phone_number}}'.localeCompare('')){
       // console.log("exists");
      //} else {
       // console.log("does not exists");
       // alertify.alert("Please go to the Settings page and enter your phone number");
      //}
      if ('{{user_profile.phone_number}}' != '') {
        $("#rent-device-modal").modal({
          closable  : true,
          onDeny    : function(){
            return true;
          },
          onApprove : function() {
            $.ajax({
              url : "/api/reserve/", // the endpoint
              type : "GET", // http method
              data : { 
                user : '{{user.username}}', 
                device: '{{device.name}}', 
                event: '{{event.name}}'
              },
              success : function(data) {
                console.log(data)
                alertify.alert("You have successfully reserved a {{device.name}}");
                $('#reservations').replaceWith(data.rental_render); 
                if(data.free_inventory == 0) {
                  $('#out-of-stock').show();
                }
              }, 
              error: function(data) {
                alertify.alert(data.responseText);
              }
            });
          },
        }).modal('show');
       } else {
         alertify.alert("Please go to the Settings page and enter your phone number");
       }
    });
});
</script>

<div class="ui center aligned basic segment">
  <h1 class="ui header">{{event}}
    <div class="sub header">HardwareLab</div>
  </h1>
</div>

<div class="ui segment clearing">
  <img class="ui medium rounded image floated left" src="/media/{{device.image}}" alt="">

  <h1 class="ui header teal">{{device.name}}
    <div class="sub header">{{device.manufacturer}}</div>
  </h1>
  <p>{{device.description}}</p>
   <div id="reserve-button">
    
       <div class="ui compact message {% if user.is_authenticated %} hidden {% endif %} ">
          <div class="header">
            Authentication Required
          </div>
          <p> <a href="/accounts/login" >Please login to rent this device.</a></p>
      </div>
      
      <a id="rent-device" 
      class="ui button" {% if not user.is_authenticated or not free > 0%} style="display:none" {% endif %}> Reserve Device</a>
      <br>
      <div id="out-of-stock" {% if free > 0 %} style="display:none"  {% endif %} class="ui compact warning message">
          <div class="header">
            Out of Stock
          </div>
          <p>Sorry! all {{device.name}}s have been either reserved or rented out. Please check back later.</p>
      </div>

      
  </div>

</div>

<div class="ui basic floated right segment" style="min-width:400px"> 
    {% include "partials/device_rentals.html" %}
</div>

<div id="rent-device-modal" class="ui modal small">
  <div class="ui icon header">
  <i class="archive icon"></i>
    Reserve Device <br/>
    <small>Do you want to reserve a {{device.name}}?</small>
  </div>

  <div class="actions centered">
    
      <div class="ui cancel button">
        <i class="remove icon"></i>
        My bad!
      </div>
      <div class="ui teal approve button">
        <i class="checkmark icon"></i>
        Yes, please!
      </div>  
  </div>
</div>

{% endblock %}